body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #9a9a9a;
}
header{
    margin: 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(69,69,69,1) 0%, rgba(77,77,77,1) 5%, rgba(85,85,85,1) 10%, rgba(93,93,93,1) 20%, rgba(100,100,100,1) 24%, rgba(105,105,105,1) 30%, rgba(110,110,110,1) 38%, rgba(115,115,115,1) 48%, rgba(121,121,121,1) 57%, rgba(125,125,125,1) 62%, rgba(129,129,129,1) 69%, rgba(136,136,136,1) 76%, rgba(141,141,141,1) 82%, rgba(154,154,154,1) 100%);
    padding: 2em;
}
h1{
    margin: 0;
   color: white;
   font-size: 4em;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
    align-items: center;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 2em;
    width: 20%;
    min-height: 100px;
    margin: 20px;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.57);
    border-radius: 15px;
}
main div:hover{
    transform: scale(1.2);
}
input {
    padding:0.5em 2em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    padding: 1em 2.5em;
    border-radius: 15px;
    background-color: gray;
    box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.82);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#doneTask{
    background-color: green;
}
#undoneTask{
    background-color: red;
}